@import "tailwindcss";
@source "{html,js}";  /* point this at your source code folder */
@plugin "daisyui";
@plugin "@tailwindcss/typography";

button {
    display: block;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

input {
    font-size: 16px;
}

.hidden {
    display: none;
}

#overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity for dimming */
    z-index: 999; /* Place it beneath the popup but above the rest of the page */
}

.person-checkboxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.split-checkboxes {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap when it hits the edges */
    gap: 5px; /* Add spacing between items */
}
